body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    /* cor de fundo */
    height: 10vh;
    margin: 0px;
    background-position-x: center;
    background-position-y: center;
    max-width: 100%;
    overflow-x: hidden;
    
  }
p {
    /* Adds a top and bottom margin of 20 pixels to the <p> tag. */
    margin: 5px 0;
    /* Adds a padding of 10 pixels to the <p> tag. */
    padding: 5px;
  }
  .welcome {
    text-align: center;
    height: 200px;
    width: auto;
    margin-bottom: 30px;
    margin-top: 0px;
    background-color: #37383a;
    color: #fff;
    padding: 25px;
    border-radius: 5px;
  }
  .welcome > p{
    padding-top: 80px;
    text-align: center;
  }
.deslogar{
    display: block; /* show the logout button for authenticated users */
    margin: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    width: fit-content;
    position: relative;
}
.rodape{
  max-width: 100%;
  overflow-x: hidden;
  margin-top: 280px;
}
.dnd {
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: #dad5d5;
    color: #000000; 
    /* mudança na cor do texto */
}
